# Statistical Analysis of participants

Miguel Xochicale [@mxochicale](https://github.com/mxochicale), Nhat Phung Tran Huy  [@huynhatd13](https://github.com/huynhatd13), ect.

Jan/Feb2022

## 1 Introduction

This notebook presents prototypes to do statistical analysis of participants

### 1.1 Running notebook
Go to echocardiography repository path: `$HOME/repositories/2022-echocardiography-proceedings/`
Open echocardiography repo in pycharm and in the terminal type:
```
git checkout master # or the branch
git pull # to bring a local branch up-to-date with its remote version
```
Launch Notebook server Go to you repository path: `cd $HOME/repositories/2022-echocardiography-proceedings/proceedings/statistica-analysis/` and type in the pycharm terminal:

```
conda activate echo-paper-ve
jupyter notebook
```
which will open your web-browser.

### 1.2 References
* B. Glocker, C. Jones, M. Bernhardt, S. Winzeck. Algorithmic encoding of protected characteristics in image-based models for disease detection. 2021. pre-print arXiv:2110.14755. https://github.com/biomedia-mira/chexploration/tree/main/notebooks added 26JAN2022

# 2. Jupyter Notebook
## 2.1 Setting imports and datasets paths

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

data_dir = '../datafiles/'
datatable_adm_anonymised = pd.read_csv(data_dir + 'adm_anonymised.csv')
datatable_adm_den_sep_anonymised = pd.read_csv(data_dir + 'adm_den_sep_anonymised.csv')

## 2.1 Study population

In [2]:
dt_datatable_adm_anonymised = pd.DataFrame(datatable_adm_anonymised)
dt_datatable_adm_anonymised.head()

,USUBJID,STUDYID,SUBJID,ADMDTC,ICUDTC,ICUTIME,TRANSFERANOTHERHOSP,ANOTHERADMDTC,HYPERTENSION,ANGINA,...,LACTATE,PH,HBA1C,PT,APTT,HCT,POINTCARE,LABORATORY,entry,enteredtime
0,003-002,01NVb,2,03/06/2020 00:00:00,03/06/2020 00:00:00,01/01/1900 13:25:00,N,NaN,Y,N,...,NaN,NaN,NaN,NaN,NaN,35.0,False,True,2,02/12/2021 11:38:36
1,003-003,01NVb,3,09/06/2020 00:00:00,09/06/2020 00:00:00,01/01/1900 19:30:00,Y,09/06/2020 00:00:00,N,N,...,NaN,NaN,NaN,NaN,NaN,42.0,False,True,2,26/05/2021 16:58:14
2,003-004,01NVb,4,11/06/2020 00:00:00,12/06/2020 00:00:00,01/01/1900 10:00:00,Y,08/06/2020 00:00:00,Y,N,...,4.49,7.44,NaN,NaN,NaN,36.9,False,True,2,06/12/2021 10:38:58
3,003-006,01NVb,6,21/06/2021 00:00:00,NaN,NaN,N,NaN,N,N,...,NaN,NaN,NaN,NaN,NaN,41.0,False,True,2,03/12/2021 16:23:55
4,003-008,01NVb,8,26/06/2020 00:00:00,27/06/2020 00:00:00,01/01/1900 00:00:00,Y,19/06/2020 00:00:00,N,N,...,NaN,NaN,NaN,NaN,NaN,42.0,False,True,2,03/12/2021 16:09:45

In [3]:
dt_datatable_adm_den_sep_anonymised = pd.DataFrame(datatable_adm_den_sep_anonymised)
dt_datatable_adm_den_sep_anonymised.head()

,USUBJID,STUDYID,SUBJID,LOCATION,DATEOFILLNESS,SHOCKONSETDTC,SHOCKONSETTIME,ANTIBIOTICS,INTRAVENOUS,PRIORHTDOTHER,...,RESPIRATORYDISTRESS,RESP,OXYGENREQUIREMENT,MAXFIO2,LOWESTSPO2,LOWESTPAO2,CPAP_BIPAP,INTUBATED,GCS,SEDATION
0,003-011,01NVb,11,EmergencyWard,04/07/2020 00:00:00,07/07/2020 00:00:00,01/01/1900 19:30:00,N,N,N,...,Y,20,Y,32,95,0,N,N,15,N
1,003-016,01NVb,16,EmergencyWard,17/07/2020 00:00:00,21/07/2020 00:00:00,01/01/1900 16:15:00,N,Y,N,...,Y,20,Y,32,95,0,N,N,15,N
2,003-017,01NVb,17,EmergencyWard,21/07/2020 00:00:00,26/07/2020 00:00:00,01/01/1900 10:50:00,N,Y,N,...,Y,20,Y,32,97,0,N,N,15,N
3,003-018,01NVb,18,EmergencyWard,23/07/2020 00:00:00,27/07/2020 00:00:00,01/01/1900 19:45:00,N,Y,N,...,Y,20,Y,28,98,0,N,N,15,N
4,003-019,01NVb,19,ICU,23/07/2020 00:00:00,28/07/2020 00:00:00,01/01/1900 17:30:00,N,Y,N,...,Y,35,Y,40,90,91,N,N,15,N